.dashboard {
  position: relative;
  display: flex;
}
.dashboard_left {
  width: 20vw;
  background-color: white;
  height: 100%;
  color: gray;
}
.dashboard_header {
  text-align: center;
  padding: 2vh;
  font-size: 2.5vh;
  color: gray;
}
.dashboard_header span {
  display: block;
  border-bottom: 1px solid gray;
}
.dashboard_panel {
  font-size: 2vh;
  transform: translateX(0);
}
.dashboard_panel ul {
  list-style: none;
  margin-left: 1vw;
  display: block;
}
.dashboard_panel li {
  cursor: pointer;
  display: block;
  margin-bottom: 15px;
  transition: all 0.4s ease;
}
.dashboard_panel li:hover {
  transform: translateX(1vw);
  text-shadow: 0px 0px 1px black;
}
.dashboard_panel_activated {
  transform: translateX(1vw);
  text-shadow: 0px 0px 1px black;
  color: orange;
}
.dashboard_right {
  background: #e2f9ff;
  width: 100%;
  padding: 2vh;
}
.manage h1 {
  text-align: center;
}
.manage input[type="text"] {
  background: transparent;
  outline: none;
  border: none;
  padding: 0.4vh;
  font-size: 2vh;
  border-bottom: 1px dashed black;
}
.manage_post {
  display: inline-block;
  cursor: pointer;
  color: #333;
  border: 1px solid #333;
  box-shadow: 0px 0px 4px 1px #333;
  margin: 2vh;
  min-height: 6vh;
  padding: 2vh;
  border-radius: 4vh;
  transition: all 0.3s ease;
  max-width: 30vw;
  font-size: 3vh;
}
.manage_post:hover {
  box-shadow: 2px 2px 2px 2px #333;
  background-color: rgba(51, 51, 51, 0.2);
}
.manage_post.active {
  min-height: 12vh;
  min-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.manage_h1 {
  text-align: center;
  margin-bottom: 2vh;
}
.manage_left {
  width: 98%;
  background-color: white;
  color: #333;
  text-align: center;
  margin: auto;
}
.manage_buttons {
  text-align: center;
}
.manage_buttons .button {
  margin: 5px;
  outline: none;
  background-color: transparent;
  border: none;
  padding: 1vh;
  border-radius: 2vh;
  font-size: 2vh;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.manage_buttons .green {
  background-color: rgba(0, 255, 0, 0.8);
}
.manage_buttons .green:hover {
  background-color: #00ff00;
}
.manage_buttons .red {
  background-color: rgba(255, 0, 0, 0.8);
}
.manage_buttons .red:hover {
  background-color: #ff0000;
}
@media (max-width: 760px) {
  .dashboard_header {
    padding: 1vh;
    font-size: 2vh;
  }
}
